addict==2.4.0
asttokens==2.0.5
attrdict==2.0.1
Bottleneck @ file:///tmp/build/80754af9/bottleneck_1648028898966/work
brotlipy==0.7.0
certifi==2021.10.8
cffi @ file:///opt/conda/conda-bld/cffi_1642701102775/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
cryptography @ file:///tmp/build/80754af9/cryptography_1639414572950/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
fonttools==4.32.0
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
joblib==1.1.0
kiwisolver==1.4.2
luojianet-ms-gpu @ file:///dat02/xwj/LuoJiaNET_applications/install_doc/ubuntu18.04-cuda11.1-cudnn8.0.5/luojianet_ms_gpu-1.0.0-cp39-cp39-linux_x86_64.whl
matplotlib @ file:///tmp/build/80754af9/matplotlib-suite_1647441664166/work
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186066731/work
mkl-service==2.4.0
mmcv-full==1.4.8
munkres==1.1.4
numexpr @ file:///tmp/build/80754af9/numexpr_1640689833592/work
numpy==1.22.3
opencv-python==4.5.5.64
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==1.4.1
Pillow==9.1.0
protobuf==3.20.0
psutil==5.9.0
pycocotools==2.0.4
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.0.7
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz==2021.3
PyYAML==6.0
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.10.1
sip==4.19.13
six @ file:///tmp/build/80754af9/six_1644875935023/work
sklearn==0.0
threadpoolctl==3.1.0
torch==1.10.1+cu111
torchaudio==0.10.1+rocm4.1
torchvision==0.11.2+cu111
tornado @ file:///tmp/build/80754af9/tornado_1606942317143/work
typing_extensions==4.1.1
urllib3 @ file:///opt/conda/conda-bld/urllib3_1643638302206/work
yapf==0.32.0
