# MindSpore
build/
luojianet_ms/lib
output
*.ir
st_tests
kernel_meta/
somas_meta/
trace_code_graph_*

# luojianet_ms lite java
luojianet_ms/lite/java/java/.gradle
luojianet_ms/lite/java/java/build
luojianet_ms/lite/java/java/gradle
luojianet_ms/lite/java/java/gradlew
luojianet_ms/lite/java/java/gradlew.bat
luojianet_ms/lite/java/java/app/build
luojianet_ms/lite/java/java/app/libs

# flatbuffer
luojianet_ms/lite/tools/converter/parser/tflite/schema_generated.h
luojianet_ms/lite/tools/converter/parser/caffe/caffe.pb.cc
luojianet_ms/lite/tools/converter/parser/caffe/caffe.pb.h
luojianet_ms/lite/tools/converter/parser/onnx/onnx.pb.h
luojianet_ms/lite/tools/converter/parser/onnx/onnx.pb.h
luojianet_ms/lite/tools/converter/schema/*.h
luojianet_ms/lite/tools/converter/schema/inner
luojianet_ms/lite/schema/*.h
luojianet_ms/lite/schema/inner

luojianet_ms/lite/src/runtime/kernel/opencl/cl/fp16/*.inc
luojianet_ms/lite/src/runtime/kernel/opencl/cl/fp32/*.inc

# Cmake files
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile
cmake-build-debug

# Dynamic libraries
*.so
*.so.*
*.dylib

# Static libraries
*.la
*.lai
*.a
*.lib

# Protocol buffers
*_pb2.py
*.pb.h
*.pb.cc
*.pb
*_grpc.py

# Object files
*.o

# Editor
.vscode
.idea/

# Cquery
.cquery_cached_index/
compile_commands.json

# Ctags and cscope
tags
TAGS
CTAGS
GTAGS
GRTAGS
GSYMS
GPATH
cscope.*

# Python files
*__pycache__*
.pytest_cache

# Mac files
*.DS_Store

# Test results
test_temp_summary_event_file/
*.dot
*.dat
*.svg
*.perf
*.info
*.ckpt
*.shp
*.pkl
*.pb
.clangd
luojianet_ms/python/luojianet_ms/version.py
luojianet_ms/python/luojianet_ms/default_config.py
luojianet_ms/python/luojianet_ms/device_target.py
luojianet_ms/python/luojianet_ms/package_name.py
luojianet_ms/python/luojianet_ms/.commit_id

# lite test file
luojianet_ms/lite/test/do_test/

# lite opencl compile file
*.cl.inc
