[submodule "akg"]
	path = akg
	url  = https://github.com/WHULuoJiaTeam/akg.git

[submodule "graphengine"]
	path = graphengine
	url  = https://github.com/WHULuoJiaTeam/graphengine.git

[submodule "tests/models"]
	path = tests/models
	url  = https://github.com/mindspore-ai/models.git

[submodule "akg"]
	url  = https://github.com/WHULuoJiaTeam/akg
	path = akg

[submodule "graphengine"]
	url  = https://github.com/WHULuoJiaTeam/graphengine
	path = graphengine

