.doc-filter-btn {
    border: 1px solid #BFBFBF;
    margin-right: 0.5rem;
    font-size: 0.7rem;
    color: #444444;
    background-color: white;
    width: 4.2rem;
    height: 1.7rem;
    text-align: left;
    position: relative;

}
.doc-stage-detail button{
    margin-bottom: 0.5rem;
}
button.doc-btn{
    background-color: transparent;
    outline: none;
}
.doc-btn-color{
    border: 1px solid #379BE6;
    color: #379BE6;
}
.doc-btn-hover{
    border: 1px solid #379BE6;
    color: #379BE6;
}
.doc-article-list{
    margin-top: 1.1rem;
}
.doc-article-item{
    padding:2.5rem 2.5rem;
    margin-bottom: 1.3rem;
    border:1px solid #e5e5e5;
    border-radius:0.5rem;
    width: 1140px;
    box-shadow:  0 0 30px 2px rgba(199,196,196,0.50)
}
.doc-article-item a{
    display:block;
    text-decoration:none!important;
}
.doc-article-head{
    color: #444444;
    font-size:0.9rem;
    font-weight:bold;
    margin-bottom:0.8rem;
    text-align:left;
}
.doc-article-desc{
    font-size:0.7rem;
    color:#444444;
}
.doc-footer nav ul li a{
    font-size: 0.7rem;
}
.doc-footer nav ul li span{
    font-size: 0.7rem;
}
.doc-title{
    font-size: 1.6rem;
    color: #444444;
    font-weight: bold;
    margin-bottom: 2.2rem;
}
.doc-filter{
    font-size: 0.7rem;
    color: #666666;
}
.doc-delete{
    font-size: 0.7rem;
    color: #379BE6;
    float: right;
}
.doc-condition{
    margin-bottom: 2rem;
}
.doc-label-choice{
    font-size: 0.7rem;
    margin-bottom: 0.53rem;
}
.doc-os{
    font-weight: bold;
    padding-top: 0.3rem;
}
.doc-hardware{
    font-weight: bold;
    padding-top: 0.3rem;
}
.doc-user{
    font-weight: bold;
    padding-top: 0.3rem;
}
.doc-stage{
    font-weight: bold;
    padding-top: 0.3rem;
}
.doc-experience{
    font-weight: bold;
    padding-top: 0.3rem;
}
.doc-label-content{
    margin-bottom: 2.2rem;
}
div.col-sm-10{
    padding-left: 2.5rem;
}
.container{
    margin-top: 1rem;
    margin-left: -15px;
}
#all{
    border: none;
    background-color: transparent;
    outline: none;
}

